<!DOCTYPE html>
<html>
<head>
</head>
<body style="background-color: rgb(47, 6, 85);">
    <%- include("partials/_menu") %>
  <h1 style="color: aqua; text-align: center; font-size: 5cm;">gemi resmi</h1>
</body>
</html>
